<nav th:fragment="sidebarFragment" class="border-top border-secondary">
  <div class="list-group">
	<a class="category-group rounded-0 list-group-item list-group-item-action list-group-item-light" th:classappend="${category} == 'freeboard' ? 'active'"
		 th:href="@{/board/list/freeboard}">자유게시판</a>
    <a class="category-group rounded-0 list-group-item list-group-item-action list-group-item-light" th:classappend="${category} == 'question' ? 'active'"
       th:href="@{/board/list/question}">질문과답변</a>
  </div>
</nav>